<html>
<head>
<title>Witaj w Ansible</title>
<meta charset="UTF-8">
</head>
<body>
<h1>Platforma Nginx skonfigurowana za pomocą Ansible</h1>
<p>Jeżeli widzisz tę stronę, to znaczy, że poprawnie zainstalowałeś platformę Nginx.</p>
<p>{{ ansible_managed }} -> YOYOY </p>
</body>
</html>

